<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="sale_menu_pickup_point" name="Pickup Points" action="oe_account.action_pickup_point"
                  parent="sale.menu_sales_config" sequence="99"/>
        <menuitem id="menu_export_sales_csv" name="Export Sales xlsx" action="oe_sale.sales_csv_action"
                  parent="sale.menu_sale_report" sequence="99"/>
    </data>
</odoo>
